#map {
	height: 93%;
	width: 100%;
	position: fixed;
}

#top-menu {
	
}

#close-filter{
	float: right;
	color: rgba(25,25,25,.7);
}
#close-filter:hover{
	cursor: pointer;
}

#filter-bar {
	width: 20%;
	min-height: 40%;
	max-height: 400px;
	top: 30%;
	box-shadow: -5px, -5px, 2px;
	color: rgb(25, 25, 25);
	min-width: 300px;
	background: rgba(255,255,255, .8);
}