<!DOCTYPE html>
<html>
<head>
  <title>PhoodographApi</title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNfxlmPoU9Mu4uToGcuYJQLwP7HfUqJv8">
</script>
<body>

<%= yield %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
