<!DOCTYPE html>
<html>
<head>
  <title>Phoodography</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>

<script src="https://maps.googleapis.com/maps/api/js?libraries=places&	key=AIzaSyDNfxlmPoU9Mu4uToGcuYJQLwP7HfUqJv8">
</script>
<body class="pushable">

<%= yield %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
